!!! 5
%html
%head
%title Contacts Page
%script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
%body
  .header
    %h1 Contacts
  .main-content
    .projects
      - data.contacts.each do |contact|

        .project-prop
          %img.show-image(src="#{contact[:image]}")
          %img.hover-image(src="#{contact[:imagehover]}")
          %h4= contact[:title]
          %p= contact[:description]
          %a(href="#{contact[:contactlink]}")
            %button(type="button")= contact[:title]
  %script(src="javascripts/main.js")
